/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background-color: var(--background-color);
  background-size: cover;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
}

/* Экраны больше ширины 1024px */

@media (width >= 1024px) {
  
  .header__text-align {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .header {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 20px;
    /*border:1px solid #abd34a;*/
    /* минимальная высота указана для всех медиазапросов внизу min-height: 668px */
  }
  .header__theme-menu {
    /*border:1px solid #d3814a;*/
  }

  .header__theme-menu-list {
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .title__header {
    margin-inline-start: -21px;
    margin-block-start: 60px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /*border:1px solid #4a5fd3;*/
  }
  .header__text-area {
    /*margin-block-start: 114px;*/
    margin-inline-start: 2px;
    /*border:1px solid #d34ab5;*/
  }

  .decorated-zone::before {
    bottom: 10px;
  }

  .why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 68px;
    /*border:1px solid #d34ac7;*/
  }

  .why__block-title {
    grid-row-start: 1;  
    grid-row-end: span 2;
  }

  .why__block-text {
    grid-column-start: 2;  
    grid-column-end: span 2;
  }

  .title__section {
    padding-block-start: 0px;
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
    /*border:1px solid #4a53d3;*/
  }

  .what__block-title {
    grid-column-start: 1;  
    grid-column-end: 4;
  }

  .what__block-text {
    /*grid-row-start: 2;*/
  }

  .how {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 79px;
    /*border:1px solid #d3814a;*/
  }
  
  .how__block-title {
    grid-row-start: 1;  
    grid-row-end: span 6;
  }
  
  .how__block-text {
    grid-column-start: 2;  
    grid-column-end: span 2;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
    /*border:1px solid #554ad3;*/
  }

  .pictures__block-title {
    grid-row-start: 1;  
    grid-row-end: 1;
    grid-column-start: 1;  
    grid-column-end: span 3;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pictures-1 {
    grid-row-start: 2;  
    grid-row-end: 2;
    grid-column-start: 1;  
    grid-column-end: span 2;
  }
  
  .pictures-2 {
    grid-column-start: 3;  
    grid-column-end: 3;
    grid-row-start: 2;  
    grid-row-end: span 2;
  }
  
  .pictures-3 {
    grid-column-start: 1;  
    grid-column-end: 1;
    grid-row-start: 3;  
    grid-row-end: span 2;
  }
  
  .pictures-5 {
    grid-row-start: 4;  
    grid-row-end: 4;
    grid-column-start: 2;  
    grid-column-end: span 2;
  }

  .footer {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 78px;
    /*border:1px solid #d34aac;*/
    /* минимальная высота указана для всех медиазапросов внизу min-height: 668px */
  }

  .title__footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

/* Экраны меньше ширины 1024px */

@media (768px <= width < 1024px) {
  
  .header__text-align {
    grid-column-start: 2;  
    grid-column-end: 3;
  }

  .header {
    /* а можно обратить внимание на мои комментарии вот тут ? вы их читаете ? */
    /* если не указать, то я не попаду в макет на указанный размер, он будет не совпадать */
    /* минимальная высота указана для всех медиазапросов внизу min-height: 668px */
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 20px;
    /*border:1px solid #abd34a;*/
  }
  
  .header__theme-menu {
    /* это свойство не одинаково для всех, для экранов больше 1024 его нет, поэтому для двух других экранов указано явно */
    align-self: center;
  }
  
  .header__theme-menu-list {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 14px;
  }

  .title__header {
    /*margin-block-start: 178.5px;*/
    margin-inline-start: -20px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /*border:1px solid #d34ab5;*/
  }

  .header__text-area {
    /*margin-block-start: 162px;*/
    /*border:1px solid #d36f4a;*/
  }

  .decorated-zone::after {
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
    /*border:1px solid #4ad34f;*/
  }

  .why__block-title {
    grid-row-start: 1;  
    grid-row-end: span 2;
  }

  .why__block-text {
    grid-column-start: 2;  
    grid-column-end: span 2;
    margin-inline-start: 6px;
  }

  .what {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
  }

  .what__block-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column-start: 1;  
    grid-column-end: 2;
  }

  .how {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
  }
  
  .how__block-title {
    grid-row-start: 1;  
    grid-row-end: span 6;
  }
  
  .how__block-text {
    grid-column-start: 2;  
    grid-column-end: span 2;
    margin-inline-start: 6px;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 79px;
  }

  .pictures__block-title {
    grid-row-start: 1;  
    grid-row-end: 1;
    grid-column-start: 1;  
    grid-column-end: span 3;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pictures-1 {
    grid-row-start: 2;  
    grid-row-end: 2;
    grid-column-start: 1;  
    grid-column-end: span 2;
  }
  
  .pictures-2 {
    grid-column-start: 3;  
    grid-column-end: 3;
    grid-row-start: 2;  
    grid-row-end: span 2;
  }
  
  .pictures-3 {
    grid-column-start: 1;  
    grid-column-end: 1;
    grid-row-start: 3;  
    grid-row-end: span 2;
  }
  
  .pictures-5 {
    grid-row-start: 4;  
    grid-row-end: 4;
    grid-column-start: 2;  
    grid-column-end: span 2;
  }

  .footer {
    /* если не указать, то я не попаду в макет на указанный размер, он будет не совпадать */
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
    /* минимальная высота указана для всех медиазапросов внизу min-height: 668px */
  }

  .title__footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}

/* Экраны меньше ширины 768px */

@media (width < 768px) {
  
/* я так и сделал, чтобы в 3-х медиазапросах значения были только 
уникальные, остальное в общие свойства, что именно я пропустил ?*/

  .header__text-align {
    grid-column-start: 1;  
    grid-column-end: span 2;
  }

  .header {
    margin-block-start: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    /*border:1px solid #abd34a;*/
  }
  
  .header__theme-menu {
    align-self: center;
  }
  
  .header__theme-menu-list {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 14px;
  }

  .title__header {
    margin-inline-start: 0px;
    /*margin-block-start: 73.5px;*/
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /*border: 1px solid #614ad3;*/
  }

  .header__text-area {
    /*margin-block-start: 55px;*/
    /*border: 1px solid #d3714a;*/
  }

  .decorated-zone::after {
    top: 0px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .why {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 30px;
  }

  .why__block-title {
    display: flex;
    margin-inline-start: 0px;
  }

  .why__block-text {
    margin-inline-start: 0px;
  }

  .what {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
  }

  .what__block-title {
    margin-inline-start: 0px;
  }

  .what__block-text {
    margin-inline-start: 0px;
  }

  .how {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
  }

  .pictures__block-title {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
  }

  .title__footer {
    margin-block-start: -15px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}

/* стили для заголовков и текста */

.title__section {
  color: var(--title-section-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title__block {
  color: var(--title-block-color);
  background-color: var(--title-block-background-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title__rule {
  color: var(--title-rule-color);
  background-color: var(--title-rule-background-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.title__footer {
  color: var(--title-footer-color);
  text-shadow: 2px 2px 0px var(--all-text-shadow);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.text {
  color: var(--basic-text-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
}

.text__decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--all-text-shadow);
}

.text__decor:hover {
  border-bottom: 1px solid var(--basic-text-color);
}

.text__decor:focus {
  outline: none;
  border: 1px solid var(--basic-text-color);
}

.text__decor:focus-visible {
  outline: none;
  border: 1px solid var(--basic-text-color);
}

/* заголовок сайта */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu-list {
  display: flex;
}

.title__header {
  color: var(--title-header-color);
  text-shadow: 4px 4px 0px var(--all-text-shadow);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  justify-content: flex-start;
  align-items: flex-start;
}

.header__text {
  color: var(--title-block-color);
  background-color: var(--title-block-background-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.header__text-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: center;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-border-color);
  border-right: 1px solid var(--button-border-color);
  top: 0px;
  right: 0px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-border-color);
  border-left: 1px solid var(--button-border-color);
  left: 0px;
  /* тег bottom указан в media-запросах каждый своим значением */
}

.rec {
  position: absolute;
  color: var(--button-border-color);
  visibility: var(--rec-visibility);
  text-align: center;
  text-transform: uppercase;
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  right: 28px;
}

.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid var(--button-border-color);
  top: 8px;
  left: 43px;
  background-color: var(--button-border-color);
  box-shadow: 0px 0px 4px 2px var(--button-border-color);
}

.header__theme-menu-item {
  color: var(--header-menu-text-color);
  text-align: center;
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-border-color);
}

/* первая секция */

/* вторая секция */

/* третья секция */

/* четвертая секция с картинками */

.pictures__general {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

/* подвал сайта */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
}